.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  height: 30px;
  z-index: 1;
  padding: 20px;
  justify-content: space-between;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  background: #111;
}
.nav_black {
  background: #111;
}
.nav_logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}
.nav_avator {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
